<?xml version="1.0" encoding="UTF-8"?>
<psola>
    <entry key="size">16</entry>
    <entry key="max">10</entry>
    <entry key="seed">0</entry>
    <entry key="momentum">1.0</entry>
    <entry key="c1">2.0</entry>
    <entry key="c2">2.0</entry>
    <entry key="r1">100</entry>
    <entry key="r2">200</entry>
    <entry key="generation">10</entry>
    <entry key="interval">0</entry>
    <entry key="output">result</entry>
    <entry key="land-use">data/DLTB.tif</entry>

    <entry key="core">0.0</entry>
    <entry key="edge">1.0</entry>
    <entry key="edge-depth">1</entry>

    <entry key="arable">29600</entry>
    <entry key="orchard">8960</entry>
    <entry key="forest">10800</entry>
    <entry key="urban">3280</entry>
    <entry key="rural">11264</entry>

    <entry key="weight-suit">0.4</entry>
    <entry key="weight-prox">0.3</entry>
    <entry key="weight-unchange">0.3</entry>

    <entry key="arable-suit-map">data/GDSYX.tif</entry>
    <entry key="orchard-suit-map">data/YDSYX.tif</entry>
    <entry key="forest-suit-map">data/LDSYX.tif</entry>
    <entry key="construction-suit-map">data/JSSYX.tif</entry>
    <entry key="slope-map">data/SLOPE.tif</entry>
    <entry key="road-map">data/ROAD.tif</entry>
    <entry key="soil-depth-map">data/DEPTH.tif</entry>

</psola>
